/* color palette from <https://github.com/vuejs/theme> */
:root {

  --primary-color: #02b6cd;
  --dark-primary-color: #0097A7;
  --light-primary-color: #B2EBF2;

  --text-color: #ffffff;
  --primary-text: #212121;
  --secondary-color: #757575;
  --divider-light-color: #f1f1f1;
  --divider-color: #BDBDBD;
  --accent-color: #607D8B;
  --accent-color-hover: #57717e;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--text-color);
  --color-background-soft: var(--light-primary-color);
  --color-background-mute: var(--dark-primary-color);

  --color-heading: var(--primary-text);
  --color-text: var(--secondary-color);

  --color-button: var(--text-color);
  --color-background-button: var(--primary-color);
  --color-background-hover-button: var(--dark-primary-color);


  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--color-background: var(--vt-c-black);*/
    /*--color-background-soft: var(--vt-c-black-soft);*/
    /*--color-background-mute: var(--vt-c-black-mute);*/

    /*--color-border: var(--vt-c-divider-dark-2);*/
    /*--color-border-hover: var(--vt-c-divider-dark-1);*/

    /*--color-heading: var(--vt-c-text-dark-1);*/
    /*--color-text: var(--vt-c-text-dark-2);*/
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
