@import 'base.css';

#app {
  font-weight: normal;
}

button {
  background-color: var(--color-background-button);
  color: var(--color-button);
  border: none;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color .2s ease;
}

button:hover {
  background-color: var(--color-background-hover-button);
}

button.text {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  border-radius: 0;
}
ul, ol {
  list-style: none;
  padding: 0;
}

@media (hover: hover) {

}
